body{
    background-image:url(../images/seattle.jpg);
}
.blur{
    background: rgba(255,255,255,0.4);
}
.no-bg{
    background-color:#fff;
    min-height:270px;

}
footer{
    text-align:center;
    color:#fff;
    background-color:#74777b;
    padding:10px 0px;

}

/* Nav */

.tabs {
    position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 60%;
	font-weight: 300;
	font-size: 1.25em;
    float:left;
}

.tabs ul {
    position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.tabs ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin-right: 10px;
    padding-bottom:5px;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
    background-color:grey;
}
.tabs a {
	position: relative;
	display: block;
	line-height: 2.5;
    color:#fff;
    text-decoration:none;
}
.tabs a span {
	vertical-align: middle;
	font-size: 0.75em;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.tabs a:focus {
	outline: none;
}
.tabs-style-iconbox ul li a {
	overflow: visible;
	padding: 2em 0;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-iconbox ul li a span {
	font-weight: 700;
	font-size: 0.7em;	
}
.tabs-style-iconbox ul li.tab-current{
	background: #2a6496;
}

/*.tabs-style-iconbox ul li.tab-current a::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: green;
	content: '';
	pointer-events: none;
}*/
.tabs-style-iconbox ul li:first-child::before {
	right: auto;
	left: 0;
}

.tabs-style-iconbox .icon::before,.tabs-style-iconbox .fa::before {
	display: block;
	margin: 0 0 0.25em 0;
}

.fa::before {
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;    
	font-weight: normal;
	font-variant: normal;
	font-size: 1.4em;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

